In [1]:
import pandas as pd

In [2]:
df_movies = pd.read_csv('IMDb movies.csv', low_memory=False)
df_ratings = pd.read_csv('IMDb ratings.csv')

In [3]:
# seleccionar columnas
df_movies = df_movies[['imdb_title_id', 'title', 'year',
                       'genre', 'country']]

df_ratings = df_ratings[['imdb_title_id', 'total_votes', 'mean_vote']]

# merge()

In [4]:
df1 = pd.DataFrame({'id': ['A', 'B', 'C', 'D'],
                    'age': [30, 23, 25, 22]})
df2 = pd.DataFrame({'id': ['C', 'D', 'E', 'F'],
                    'job': ['Doctor', 'Statistician',
                            'Accountant', 'Developer']})

In [9]:
df1.head(3)

  id  age
0  A   30
1  B   23
2  C   25

In [10]:
df2.head(3)

  id           job
0  C        Doctor
1  D  Statistician
2  E    Accountant

## Inner join

In [12]:
df_inner_join = df1.merge(df2, on='id', how='inner')

In [14]:
# shape
print(df1.shape)
print(df2.shape)
print(df_inner_join.shape)

(4, 2)
(4, 2)
(2, 3)

### Ejercicio

In [ ]:
# hacer merge entre df_movies y df_ratings (inner join)