In [1]:
import pandas as pd

In [2]:
# leyendo el archivo csv
df_exams = pd.read_csv('StudentsPerformance.csv')
df_exams.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

# Seleccionar 1 columna

## Syntax 1

In [3]:
# seleccionar una columna con [] (forma preferida de seleccionar una columna)
df_exams['gender']

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [4]:
# revisar el tipo de data de una columna
type(df_exams['gender'])

pandas.core.series.Series

In [5]:
# series: atributos y metodos
df_exams['gender'].index
df_exams['gender'].head()

0    female
1    female
2    female
3      male
4      male
Name: gender, dtype: object

## Syntax 2

In [6]:
# seleccionar una columna con .
df_exams.gender

0      female
1      female
2      female
3        male
4        male
        ...
995    female
996      male
997    female
998    female
999    female
Name: gender, Length: 1000, dtype: object

In [7]:
# seleccionar una columna con . (errores que encontraras)
df_exams.math score

SyntaxError: invalid syntax (<ipython-input-7-cf3d6f893755>, line 2)

In [8]:
# seleccionar la misma columna con []
df_exams["math score"]

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64